<div class="row">
  <div class="small-6 medium-4 columns">
    <%= link_to("Add a Pizzeria", new_pizzeria_path, class: "button alert round") %>
  </div>
</div>

<div class="row">
  <div class="small-6 medium-4 columns">
    <%= form_tag pizzerias_path, method: :get do %>
      <%= label_tag :query, "Search" %>
      <%= text_field_tag :query %>
      <%= submit_tag "Search Pizzerias" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-6 columns">
    <% @pizzerias.each do |pizzeria| %>
      <div>
        <ul class='pizzeria vcard'>
          <li class="pizzeria-name">
            <%= link_to(pizzeria.name, pizzeria_path(pizzeria)) %><br />
          </li>
          <li>
            <%= link_to image_tag(pizzeria.photo.thumb.url, alt: pizzeria.name), pizzeria_path(pizzeria) %>
          </li>
          <li>
            Latest Reviews:
          </li>
          <li>
            <% pizzeria.latest_reviews.each do |review| %>
          </li>
          <li>
            <%= link_to(review.title, review_path(review)) %>
          </li>
          <li>
            <%= "#{review.rating} stars" %>
          </li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>
