<%= image_tag "pizzabk.jpg", :class => "bgIMG" %>

<div class="row top-element black-box">
  <div class="large-9 medium-9 columns">
    <%= form_tag pizzerias_path, method: :get do %>
      <%= text_field_tag :query %>
  </div>
  <div class="large-3 medium-3 columns">
      <%= submit_tag "Search Pizzerias", class: "secondary tiny button" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-6 columns">
    <%= paginate @pizzerias %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <% @pizzerias.each do |pizzeria| %>
      <div class="row black-box">
        <ul class='pizzeria small-12 medium-4 columns'>
          <li id="pizzeria-name"><class="pizzeria-name">
            <h4><%= link_to(pizzeria.name, pizzeria_path(pizzeria)) %></h4><br />
          </li>
          <li>
            <div>
              <%= link_to image_tag(pizzeria.photo.thumb.url, class: "th
              ", alt: pizzeria.name), pizzeria_path(pizzeria) %>
            </div>
          </li>
        </ul>
        <ul class="small-12 medium-8 columns inline-list reviews">
          <% pizzeria.latest_reviews.each do |review| %>
            <li>
              <div>
                <%= review.title.first(20) %>
              </div>
              <div>
                <%= link_to(image_tag(review.photo.thumb.url), review_path(review), class: "th
              ") %>
              </div>
              <div>
                <%= "#{"★" * review.rating}#{"☆" * (5 - review.rating) }" %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <br>
    <% end %>
  </div>
</div>
