<div class="row">
  <div class="small-12 columns">
    <h2><%= @pizzeria.name %></h2>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-9 columns">
    <address>
      <div class="steet"><%= @pizzeria.street %></div>
      <div class="address"><%= @pizzeria.address %></div>
    </address>
  </div>
  <div class="small-12 medium-3 columns" style="align:bottom">
    <%= link_to("Add a Review", new_pizzeria_review_path(@pizzeria), class: "button success round") %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <ul class="inline-list">
      <li><%= link_to("Edit Pizzeria", edit_pizzeria_path(@pizzeria), class: "button alert radius tiny") %></li>
      <li><%= link_to("Delete Pizzeria", pizzeria_path(@pizzeria), method: :delete, confirm: true, class: "button alert radius tiny") %></li>
    </ul>
  </div>
</div>

<ul class="no-decoration" id="reviews">
  <% @pizzeria.reviews.each do |review| %>
    <li>
      <div class="row">
        <div class="small-1 columns">
          ⇧
        </div>

        <div class="small-11 columns">
          <%= image_tag "http://lorempixel.com/g/150/150/", class: "th [radius] left"%>
          <%= link_to(review.title, review_path(review)) %>
          <%= "#{"★" * review.rating}#{"☆" * (5 - review.rating) }" %>
          <div><%= review.body %></div>
          <div class="username"><%= review.user.username %></div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
