<%= image_tag "pizzabk.jpg", :class => "bgIMG" %>
<div class="row black-box">
  <h2><%= @pizzeria.name %></h2>
</div>
<div class="row black-box">
  <div class="small-12 medium-9 columns white">
    <address>
      <div class="steet"><%= @pizzeria.street %></div>
      <div class="address"><%= @pizzeria.address %></div>
    </address>
  </div>
  <div class="small-12 medium-3 columns" style="align:bottom">
    <%= link_to("Add a Review", new_pizzeria_review_path(@pizzeria), class: "secondary small button") %>
  </div>
</div>

<div class="row">
  <%= image_tag(@pizzeria.photo.url, alt: @pizzeria.name, class: "centered") %>
</div>

<div class="row">
  <div class="small-12 columns">
    <ul class="inline-list">
    <% if current_user && current_user.admin? %>
      <li><%= link_to("Edit Pizzeria", edit_pizzeria_path(@pizzeria), class: "button alert radius tiny") %></li>
      <li><%= link_to("Delete Pizzeria", pizzeria_path(@pizzeria), method: :delete, confirm: true, class: "button alert radius tiny") %></li>
    <% end %>
    </ul>
  </div>
</div>

<ul class="no-decoration" id="reviews">
  <% @pizzeria.reviews.each do |review| %>
    <li>
      <div class="row" data-equalizer>
        <div class="small-1 columns black-box" data-equalizer-watch>
          <%= form_for [review, @vote] do |f| %>
            <%= f.hidden_field :value, value: 1 %>
            <%= f.submit "Upvote", :type => :image, :src => "http://i58.tinypic.com/xqdndd.png" %>
          <% end %>
          <p id="score"><%= review.score %></p>
          <%= form_for [review, @vote] do |f| %>
            <%= f.hidden_field :value, value: -1 %>
            <%= f.submit "Downvote", :type => :image, :src => "http://i60.tinypic.com/33ekfo8.png" %>
          <% end %>
        </div>
        <div class="small-11 columns black-box" data-equalizer-watch>
          <%= link_to image_tag(review.photo.thumb.url, alt: review.title, class: "th [radius] left"), review_path(review) %>
          <span class="review-title">
            <%= link_to(review.title, review_path(review)) %>
          </span>
          <div class="white"><%= "#{"★" * review.rating}#{"☆" * (5 - review.rating) }" %>
          </div>
          <div class="white"><%= review.body %></div>
          <div class="username"><%= review.user.name %></div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
