<h2><%= @pizzeria.name %></h2>
<h3><%= @pizzeria.street %><br/>
    <%= "#{@pizzeria.city}, #{@pizzeria.state} #{@pizzeria.zip_code}" %></h3>
<%= link_to("Edit Pizzeria", edit_pizzeria_path(@pizzeria)) %>
<%= link_to("Delete Pizzeria", pizzeria_path(@pizzeria), method: :delete, confirm: true) %>
<% @pizzeria.reviews.each do |review| %>
  <%= link_to(review.title, review_path(review)) %>
<% end %>
