<h2><%= @pizzeria.name %></h2>
<h3><%= @pizzeria.street %><br/>
    <%= @pizzeria.address %></h3>
<%= link_to("Edit Pizzeria", edit_pizzeria_path(@pizzeria)) %>
<%= link_to("Delete Pizzeria", pizzeria_path(@pizzeria), method: :delete, confirm: true) %>
<%= link_to("Create Review", new_pizzeria_review_path(@pizzeria)) %>
<% @pizzeria.reviews.each do |review| %>
	<%= link_to(review.title, review_path(review)) %>
<% end %>
