<div><%= @user.username %> (<%= @user.name %>)</div>
<div>
  <%= image_tag(@user.avatar.url, alt: @user.username) %>
</div>
<div>
  <%= @user.bio %>
</div>
<div>
  <% if current_user %>
  <li><%= link_to 'Edit Profile', edit_user_registration_path(@user) %></li>
  <% end %>
</div>
