<% if @comment.errors.any? %>
  <% @comment.errors.full_messages.each do |msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
<% end %>

<div class="row top-element">
  <div class="small-4 columns">
    <%= image_tag(@review.photo.url, alt: @review.title ) %>
  </div>
  <div class="small-8 columns">
    <h2><%= link_to(@review.pizzeria.name, pizzeria_path(@review.pizzeria)) %></h2>
    <h3><%= @review.pizzeria.street %><br/>
        <%= @review.pizzeria.address %></h3>
    <p><%= "#{"★" * @review.rating}#{"☆" * (5 - @review.rating) }" %></p>
  </div>
</div>
<div class="row" data-equalizer>
  <div class="small-1 columns border" data-equalizer-watch>
    <%= form_for [@review, @vote] do |f| %>
      <%= f.hidden_field :value, value: 1 %>
      <%= f.submit "Upvote", type: :image, src: "http://i59.tinypic.com/n2bd4n.png", class: "upvote"  %>
    <% end %>
    <p id="score"><%= @review.score %></p>
    <%= form_for [@review, @vote] do |f| %>
      <%= f.hidden_field :value, value: -1 %>
      <%= f.submit "Downvote", type: :image, src: "http://i62.tinypic.com/243i652.jpg", class: "downvote" %>
    <% end %>
  </div>
  <div class="small-11 columns panel" data-equalizer-watch>
    <h1><%= @review.title %></h1>
    <p><%= @review.body %></p>
    <% if current_user == @review.user %>
      <%= link_to("Edit Review", edit_review_path(@review), class: "button alert tiny") %>
      <%= link_to("Delete Review", review_path(@review), method: :delete, confirm: true, class: "button alert tiny") %>
    <% end %>
    <ul class="inline-list float-right" style="list-style: none;">
      <li class="float-right"><%= "Posted: #{format_datetime(@review.created_at)}" %></li>
      <li class="float-right"><%= "Last updated: #{format_datetime(@review.updated_at)}" %></li>
      <li class="float-right"><%= "Reviewed by: #{@review.user.name}" %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="small-4 columns">
    <%= form_for [@review, @comment] do |f| %>
      <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
      </div>

      <div>
        <%= f.label :body, "Comment" %>
        <%= f.text_area :body %>
      </div>

      <div>
        <%= f.submit "Submit Comment", class: "button alert radius tiny" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <div>
      <% @review.comments.each do |comment| %>
        <div class="panel">
          <strong><%= comment.title %></strong><br/>
          <%= comment.body %><br/>
          <%= "Posted by: #{comment.user.name}" %><br/>
          <%= "Comment last updated at #{format_datetime(comment.updated_at)}" %>
          <% if current_user == comment.user %>
            <%= link_to "Edit comment", edit_comment_path(comment) %>
            <%= link_to "Delete comment", comment_path(comment), method: :delete, data: {confirm: "Are you sure?"} %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
